.custom-tree-node {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
}
.block {
  padding: 20px;
}
.el-tree-node {
  margin-bottom: 10px;
}