<div class="branch">
    <!-- 搜索 -->
    <el-card class="box-card">

        <div class="text item">
            <el-form :inline="true" :model="search" class="demo-form-inline">
                <el-form-item style="display: flex; flex-wrap:nowrap;">
                    <el-input placeholder="请输入检索关键词" v-model="search.keyWord" style="width:230px;margin-right:10px;">

                    </el-input>
                    <el-select style="margin-right:10px;" filterable v-model="search.status" placeholder="状态">
                        <el-option v-for="item in options" clearable :key="item.value" :label="item.label" :value="item.value">
                        </el-option>
                    </el-select>

                    <el-button type="primary" @click="forBranch('add')">添加检查表</el-button>

                    <el-button type="primary" @click="getList" icon="el-icon-search">搜索</el-button>
                    <el-button type="warning" @click="onRest" icon="el-icon-refresh">重置</el-button>
                </el-form-item>
            </el-form>
        </div>
    </el-card>
    <div class="space"></div>
    <!-- 表格 -->
    <el-card class="box-card" v-loading="loading" element-loading-text="拼命加载中">
        <el-table ref="multipleTable" highlight-current-row stripe border :data="tableData" tooltip-effect="dark" style="width: 100%"
            :default-sort="{prop: 'date', order: 'descending'}">

            <el-table-column prop="id" label="Id" srortable width=60>
                <template slot-scope="scope">
                    <span>{{ scope.row.id }}</span>
                </template>
            </el-table-column>
            <el-table-column prop="name" label="检查表名称" srortable>
                <template slot-scope="scope">
                    <span>{{ scope.row.name }}</span>
                </template>
            </el-table-column>
            <el-table-column prop="companyName" label="适用对象" srortable>
                <template slot-scope="scope">
                    <span v-if='scope.row.companyId!=0'>{{ scope.row.companyName}}</span>
                    <span v-else> 全部分公司</span>
                </template>
            </el-table-column>
            <el-table-column prop="total" label="总分" srortable>
                <template slot-scope="scope">
                    <span>{{ scope.row.score }}</span>
                </template>
            </el-table-column>
            <el-table-column prop="currentScore" label="当前分" srortable>
                <template slot-scope="scope">
                    <span>{{ scope.row.currentScore }}</span>
                </template>
            </el-table-column>
            <!-- <el-table-column prop="score" label="当前分" srortable>
                <template slot-scope="scope">
                    <span>{{ scope.row.score }}</span>
                </template>
            </el-table-column> -->
            <el-table-column prop="status" label="状态" srortable>
                <template slot-scope="scope">
                    <span v-if="scope.row.isActive==1">启用</span>
                    <span v-if="scope.row.isActive==0">禁用</span>
                </template>
            </el-table-column>
            <el-table-column prop="time" label="创建时间" srortable>
                <template slot-scope="scope">
                    <span>{{ scope.row.createdAt }}</span>
                </template>
            </el-table-column>
            <!-- <el-table-column label="操作">
                <template slot-scope="scope">
                    <div class="dis">
                        <el-button size="mini" type='primary' @click="forBranch(scope)">编辑
                        </el-button>
                        <el-button size="mini" type="danger"  @click="toDel(scope.$index,tableData)">删除</el-button>
                        <el-button size="mini" @click="goShopList">禁用</el-button>
                        <el-button size="mini" @click="goShopList">预览</el-button>
                        <el-button size="mini" @click="goShopList">检查项分类</el-button>
                    </div>
                </template>
            </el-table-column> -->
            <el-table-column label="操作">
                <template slot-scope="scope">
                    <!-- <el-dropdown @command="handleCommand" trigger="click"> -->
                    <el-dropdown @command="handleCommand">
                        <span class="el-dropdown-link" style="color:cornflowerblue">
                            操作<i class="el-icon-arrow-down el-icon--right"></i>
                        </span>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item :command="commandValue(-1,scope.row.id,scope.row.status,scope.row)">编辑</el-dropdown-item>
                            <el-dropdown-item :command="commandValue(0,scope.row.id,scope.row.status,scope.row)">删除
                            </el-dropdown-item>
                            <el-dropdown-item v-if="scope.row.isActive==1" :command="commandValue(1,scope.row.id)">禁用</el-dropdown-item>
                            <el-dropdown-item v-if="scope.row.isActive==0" :command="commandValue(2,scope.row.id)">启用</el-dropdown-item>
                            <el-dropdown-item :command="commandValue(7,scope.row.id)">预览</el-dropdown-item>
                            <el-dropdown-item :command="commandValue(8,scope.row.id,scope.row.status,scope.row)">检查项分类</el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                </template>
            </el-table-column>
        </el-table>
        <template>
            <div class="block">
                <div class="space"></div>
                <el-pagination background @size-change="handleSizeChange" @current-change="handleCurrentChange"
                    :current-page="currentPage" :page-sizes="[5, 10, 15, 20]" :page-size="10" layout="total, sizes, prev, pager, next, jumper"
                    :total="total" prev-text="上一页" next-text="下一页">
                </el-pagination>
            </div>
        </template>
    </el-card>
    <!-- 详情弹窗 -->
    <el-dialog :title="title=='add'?'添加检查表':'编辑检查表'" :visible.sync="showDetail">
        <el-form>
            <el-form-item label="检查表名称:" :label-width="formLabelWidth">
                <el-input v-model="companyForm.name" placeholder='请输入检查表名称'></el-input>
            </el-form-item>
            <el-form-item v-if='roleId!=3' label="适用对象:" :label-width="formLabelWidth">
                <el-select filterable v-model="companyName" @change="changeGood" placeholder="请选择适用对象" filterable>
                    <el-option v-for="item in companyList" :key="item.id" :label="item.name" :value="item.name">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item v-else label="适用对象:" :label-width="formLabelWidth">
                <span>{{accept}}</span>
            </el-form-item>
            <el-form-item label="检查表总分:" :label-width="formLabelWidth">
                <el-input v-model="companyForm.score" placeholder='请输入检查表总分'>
                    <template slot="append">分</template>
                </el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button type="primary" v-show="type=='add'" @click="onSumbitUpdate">确定</el-button>
            <el-button type="primary" v-show="type=='edit'" @click="onSumbitEdit">确定修改</el-button>
            <el-button @click="cancel">取 消</el-button>
        </div>
    </el-dialog>


    <el-dialog title="江西检查表" :visible.sync="dialogVisible" width="50%" :before-close="handleClose">
        <div class="con">
            <h4>厨房卫生</h4>
            <div>
                <p class="qu-title">1、餐中盈余时间“六主动”（点烟、换骨碟、换烟缸、添茶、倒酒、清理台面）5分/人</p>
                <el-radio-group style="margin-left:50px;" v-model="question.select">
                    <el-radio label="15分"></el-radio>
                    <el-radio label="10分"></el-radio>
                    <el-radio label="5分"></el-radio>
                    <el-radio label="0"></el-radio>
                </el-radio-group>
            </div>
            <div>
                <p class="qu-title">2、每旬对员工员工悦客服务的课程一次（每次培训不低于40分钟，不含新生。每旬10分有培训、不清晰得5分，无培训0分）</p>
                <el-radio-group style="margin-left:50px;" v-model="question.select">
                    <el-radio label="15分"></el-radio>
                    <el-radio label="10分"></el-radio>
                    <el-radio label="5分"></el-radio>
                    <el-radio label="0"></el-radio>
                </el-radio-group>
            </div>
        </div>
        <div class="con">
            <h4>厨房卫生</h4>
            <div>
                <p class="qu-title">1、餐中盈余时间“六主动”（点烟、换骨碟、换烟缸、添茶、倒酒、清理台面）5分/人</p>
                <el-radio-group style="margin-left:50px;" v-model="question.select">
                    <el-radio label="15分"></el-radio>
                    <el-radio label="10分"></el-radio>
                    <el-radio label="5分"></el-radio>
                    <el-radio label="0"></el-radio>
                </el-radio-group>
            </div>
            <div>
                <p class="qu-title">2、每旬对员工员工悦客服务的课程一次（每次培训不低于40分钟，不含新生。每旬10分有培训、不清晰得5分，无培训0分）</p>
                <el-radio-group style="margin-left:50px;" v-model="question.select">
                    <el-radio label="15分"></el-radio>
                    <el-radio label="10分"></el-radio>
                    <el-radio label="5分"></el-radio>
                    <el-radio label="0"></el-radio>
                </el-radio-group>
            </div>
        </div>
        <el-button style="margin:20px 0 10px 25px;" @click="dialogVisible=false">返回列表</el-button>
    </el-dialog>
</div>