<div class="branch">

<h3 class="title">{{shopName}}</h3>

        <div class="con" v-for="el in detail">
            <h4>{{el.name}}</h4>
            <div style="margin-bottom:30px;" v-if='el.item.length>0' :key="ask.id" v-for="(ask,index) in el.item">
                <p class="qu-title">{{index+1}}、{{ask.title}}<span></span></p>
                
                <el-radio-group style="margin-left:50px;" v-model="question.select">
                    <el-radio disabled :key="opt.id" v-for='opt in ask.option' :label="opt.content">{{opt.content}} ({{opt.score}}分)</el-radio>
                </el-radio-group>
                <!-- <el-radio v-if="ask.option.length>0" :label="ask.option[0].score"></el-radio> -->
            </div>
        </div>
        <el-button style="margin:20px 0 10px 25px;" @click="turn">返回列表</el-button>
   
</div>