<div class="branch">

<h3 class="title">售卖间要求</h3>

        <div class="con">
            <h4>厨房卫生</h4>
            <div>
                <p class="qu-title">1、餐中盈余时间“六主动”（点烟、换骨碟、换烟缸、添茶、倒酒、清理台面）5分/人</p>
                <el-radio-group style="margin-left:50px;" v-model="question.select">
                    <el-radio label="15分"></el-radio>
                    <el-radio label="10分"></el-radio>
                    <el-radio label="5分"></el-radio>
                    <el-radio label="0"></el-radio>
                </el-radio-group>
            </div>
            <div>
                <p class="qu-title">2、每旬对员工员工悦客服务的课程一次（每次培训不低于40分钟，不含新生。每旬10分有培训、不清晰得5分，无培训0分）</p>
                <el-radio-group style="margin-left:50px;" v-model="question.select">
                    <el-radio label="15分"></el-radio>
                    <el-radio label="10分"></el-radio>
                    <el-radio label="5分"></el-radio>
                    <el-radio label="0"></el-radio>
                </el-radio-group>
            </div>
        </div>
        <div class="con">
            <h4>厨房卫生</h4>
            <div>
                <p class="qu-title">1、餐中盈余时间“六主动”（点烟、换骨碟、换烟缸、添茶、倒酒、清理台面）5分/人</p>
                <el-radio-group style="margin-left:50px;" v-model="question.select">
                    <el-radio label="15分"></el-radio>
                    <el-radio label="10分"></el-radio>
                    <el-radio label="5分"></el-radio>
                    <el-radio label="0"></el-radio>
                </el-radio-group>
            </div>
            <div>
                <p class="qu-title">2、每旬对员工员工悦客服务的课程一次（每次培训不低于40分钟，不含新生。每旬10分有培训、不清晰得5分，无培训0分）</p>
                <el-radio-group style="margin-left:50px;" v-model="question.select">
                    <el-radio label="15分"></el-radio>
                    <el-radio label="10分"></el-radio>
                    <el-radio label="5分"></el-radio>
                    <el-radio label="0"></el-radio>
                </el-radio-group>
            </div>
        </div>
        <el-button style="margin:20px 0 10px 25px;" @click="turn">返回列表</el-button>
   
</div>