<div class="sort" v-loading="importLoading">
    <!-- 搜索 -->
    <el-card class="box-card" v-if='isShow=="1"'>
        <el-form :inline="true" class="demo-form-inline">
            <div class="text item btn-dis" style="display: flex; flex-wrap: wrap;">
                <el-form-item>
                    <!-- <el-button type="primary" @click="forGate('add')">添加档口</el-button> -->
                    <el-dropdown>
                        <el-button type="primary">批量导入</el-button>
                        <el-dropdown-menu slot="dropdown" style="width: 100px;text-align: center;">
                            <el-dropdown-item>
                                <el-button type="text" @click="templateDownload">模板下载</el-button>
                            </el-dropdown-item>
                            <el-dropdown-item>
                                <!-- <el-upload class="upload-demo" :action="server + 'managerapi/custome/window/layout/price/import'" :headers="headers"
                              :before-upload="beforeExcelUpload" :on-success="excelUploadSuccess" :show-file-list="false" name="upload"> -->
                                <el-button @click='showDialog = true' type="text">批量导入</el-button>
                                <!-- </el-upload> -->
                            </el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                    <el-button @click="showPhoto = true" :disabled='priceList.length==0' style="margin-left:20px;">查看照片
                    </el-button>
                </el-form-item>


            </div>
            <div style="display: flex; flex-wrap: wrap;">
                <el-form-item>
                    <template>
                        <el-select filterable v-model="search.termId" placeholder="请选择学期" class="findShop">
                            <el-option v-for="(item,index) in termList" :key="'info-'+index" :label="item.name" :value="item.id">
                            </el-option>
                        </el-select>
                    </template>

                </el-form-item>
                <el-form-item v-if="roleId != 3">
                    <template>
                        <el-select filterable v-model="search.companyId" @change="getCompanyId" placeholder="请选择分公司名称"
                            class="findShop" style="margin-left: 20px">
                            <el-option label="全部分公司" :value="0">
                            </el-option>
                            <el-option v-for="(item,index) in companyList" :key="'info-'+index" :label="item.name" :value="item.id">
                            </el-option>
                        </el-select>
                    </template>
                </el-form-item>
                <el-form-item v-if="search.companyId > 0">
                    <template>
                        <el-select filterable v-model="search.shopId" placeholder="请选择分店名称" class="findShop"
                            style="margin-left: 20px">
                            <el-option v-for="(item,index) in shopList" :key="'info-'+index" :label="item.name" :value="item.id">
                            </el-option>
                        </el-select>
                    </template>
                </el-form-item>
                <el-form-item>
                    <el-input v-model="search.keyWord" placeholder="档口关键词检索" style="width: 250px;margin-left: 20px;">
                    </el-input>
                </el-form-item>

                <el-form-item>
                    <el-button type="primary" @click="onSubmitSearch" icon="el-icon-search" style="margin-left: 20px">搜索
                    </el-button>
                </el-form-item>
                <el-form-item>
                    <el-button type="warning" @click="onRest" icon="el-icon-refresh" style="margin-left: 20px">重置
                    </el-button>
                </el-form-item>
                <el-form-item v-if='roleId!=3'>
                    <el-button @click="exportExcel" icon="el-icon-download" type="info" :disable="exportDisable"
                        :loading="exportDisable" style="margin-left: 20px">导出</el-button>
                </el-form-item>

            </div>
        </el-form>
    </el-card>
    <div class="space"></div>
    <!-- 表格 -->
    <el-card class="box-card" v-loading="loading" element-loading-text="拼命加载中" v-if='isShow=="1"'>
        <el-table ref="multipleTable" highlight-current-row stripe border :data="priceList" tooltip-effect="dark"
            style="width: 100%" :default-sort="{prop: 'date', order: 'descending'}">

            <el-table-column prop="id" label="窗口号" srortable width=80>
                <template slot-scope="scope">
                    <span>{{ scope.row.sn }}</span>
                </template>
            </el-table-column>
            <el-table-column prop="gate" label="档口名称" srortable>
                <template slot-scope="scope">
                    <span>{{ scope.row.name }}</span>
                </template>
            </el-table-column>


            <el-table-column prop="deposit" label="押金、风险金" srortable>
                <template slot-scope="scope">
                    <span>{{ scope.row.deposit }}</span>
                </template>
            </el-table-column>
            <el-table-column prop="rent" label="租金" srortable width="220">
                <template slot-scope="scope">
                    <span>{{ scope.row.rental }}</span>
                </template>
            </el-table-column>
            <el-table-column prop="light" label="水电气" srortable>
                <template slot-scope="scope">
                    <span>{{ scope.row.waterEleRate }}</span>
                </template>
            </el-table-column>
            <el-table-column prop="wash" label="洗消费" srortable>
                <template slot-scope="scope">
                    <span>{{ scope.row.cleanRate }}</span>
                </template>
            </el-table-column>
            <el-table-column prop="sanitary" label="卫生费" srortable>
                <template slot-scope="scope">
                    <span>{{ scope.row.sanitationRate }}</span>
                </template>
            </el-table-column>
            <el-table-column prop="public" label="公摊" srortable>
                <template slot-scope="scope">
                    <span>{{ scope.row.shareMoney }}</span>
                </template>
            </el-table-column>
            <el-table-column prop="ohter" label="其他" srortable>
                <template slot-scope="scope">
                    <span>{{ scope.row.otherMoney }}</span>
                </template>
            </el-table-column>
            <el-table-column  v-if='roleId!=3' label="操作" width=150>
                <template slot-scope="scope">
                    <div class="dis">
                        <el-button size="mini" type='primary' @click="forGate(scope)">编辑
                        </el-button>
                        <el-button size="mini" type="danger" @click="toDel(scope.row.id)">删除</el-button>
                    </div>
                </template>
            </el-table-column>
        </el-table>
        <template>
            <div class="block">
                <div class="space"></div>
                <el-pagination background @size-change="handleSizeChange" @current-change="handleCurrentChange"
                    :current-page="currentPage" :page-sizes="[5, 10, 15, 20]" :page-size="10"
                    layout="total, sizes, prev, pager, next, jumper" :total="total" prev-text="上一页" next-text="下一页">
                </el-pagination>
            </div>
        </template>
    </el-card>
    <!-- 详情 -->
    <el-card class="addShop" v-if='isShow=="2"'>
        <div class="head-title">
            编辑布局定价
        </div>
        <el-form ref="form" :model="windows" label-width="140px" style="margin-left: 80px;">
            <el-form-item label="所属周期:">
                <el-select filterable v-model="windows.termId" placeholder="请选择对应周期" style="width: 300px;">
                    <el-option v-for="(item,index) in termList" :key="index" :label="item.name" :value="item.id">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="所属分公司:" v-if="roleId != 3">
                <el-select filterable v-model="windows.companyId" @change="getEditCompanyId" placeholder="请选择对应的分公司"
                    style="width: 300px;">
                    <el-option v-for="(item,index) in companyList" :key="index" :label="item.name" :value="item.id">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="所属分店:">
                <el-select filterable v-model="windows.shopId" placeholder="请选择对应的分店" style="width: 300px;">
                    <el-option v-for="(item,index) in shopList" :key="index" :label="item.name" :value="item.id">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="档口类型">
                <el-select filterable v-model="windows.projectGenreId" @change="typeChange" placeholder="请选择对应的档口类型"
                    style="width: 300px;">
                    <el-option v-for="(item,index) in gateType" :key="item.id" :label="item.name" :value="item.id">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="档口名称:">
                <el-select filterable v-model="windows.projectId" placeholder="请选择档口名称" style="width: 300px;">
                    <el-option v-for="(item,index) in gateProject" :key="item.id" :label="item.name" :value="item.id">
                    </el-option>
                </el-select>
            </el-form-item>


            <el-form-item label="窗口序号:">
                <el-input v-model="windows.sn" placeholder="请输入窗口序号(如:1)" style="width: 300px;"></el-input>
            </el-form-item>
            <el-form-item label="押金、风险金:">
                <el-input v-model="windows.deposit" placeholder="请输入押金、风险金(如:30000)" style="width: 300px;"></el-input>
            </el-form-item>
            <el-form-item label="租金:">
                <el-input v-model="windows.rental" placeholder="请输入租金金额" style="width: 300px;"></el-input>
            </el-form-item>
            <el-form-item label="水电气:">
                <el-input v-model="windows.waterEleRate" placeholder="请输入水电气比例" style="width: 300px;"></el-input>
            </el-form-item>
            <el-form-item label="洗消费:">
                <el-input v-model="windows.cleanRate" placeholder="请输入洗消费比例" style="width: 300px;"></el-input>
            </el-form-item>
            <el-form-item label="卫生费:">
                <el-input v-model="windows.sanitationRate" placeholder="请输入卫生费比例" style="width: 300px;"></el-input>
            </el-form-item>
            <el-form-item label="公摊:">
                <el-input v-model="windows.shareMoney" placeholder="请输入公摊金额" style="width: 300px;"></el-input>
            </el-form-item>
            <el-form-item label="其他:">
                <el-input v-model="windows.otherMoney" placeholder="请输入其他金额" style="width: 300px;"></el-input>
            </el-form-item>
            <el-form-item style="margin-top: 30px;text-align:left;">

                <el-button type="primary" v-show="type=='edit'" style="margin-right: 30px;" @click='onEdit'>确认修改
                </el-button>
                <el-button @click='returnMain'>返回列表</el-button>
            </el-form-item>
        </el-form>
    </el-card>
    <!--查看照片-->
    <div class="photo">
        <el-card>
            <el-dialog :visible.sync="showPhoto" width="30%" center>
                <viewer v-if='priceList.length>0' :images="server+priceList[0].image">
                    <img style="width:300px;" v-if='priceList.length>0' :src="server+priceList[0].image">
                </viewer>
            </el-dialog>
        </el-card>
    </div>

    <el-dialog title="模板导入" :visible.sync="showDialog">
        <el-form ref="form">
            <el-form-item label="上传图片" label-width="70px">
                <el-upload class="upload-demo" :auto-upload="false" :on-change="getPhoto" :file-list="imgfileList"
                    :action="server + 'managerapi/custome/window/layout/price/import'" name='image' :headers="headers">
                    <el-button size="small" type="primary" plain>点击上传<i class="el-icon-upload el-icon--right"></i>
                    </el-button>
                </el-upload>
            </el-form-item>
            <el-form-item label="上传文件" label-width="70px">
                <el-upload class="upload-demo" :auto-upload="false" :file-list="fileList"
                    :action="server + 'managerapi/custome/window/layout/price/import'" :on-change="imgSaveToUrl"
                    :before-upload="beforeAvatarUpload" name="upload" :headers="headers">
                    <el-button size="small" type="primary" plain>点击上传<i class="el-icon-upload el-icon--right"></i>
                    </el-button>
                </el-upload>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click='cancel'>取 消</el-button>
            <el-button @click='submit' type="primary">确 定</el-button>
        </div>
    </el-dialog>
</div>